
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
.side-bar-text h5 {
    font-size: 13px;
    }
    .sidebar-button {
    font-size: 16px;
    }
    .sidebar img {
    max-height: 200px;
}
}



/* Extra small devices (portrait phones, less than 768px) */
@media (max-width: 767.98px) { 
    .sidebar {
        display: none;
    }
.main-container {
    width: 100%;
    max-width: 100%;
    }
    .main-container {
     padding-right:0px; 
}
 .scroll-show {
    display: block;
    text-align: center;
}
    .bottom-link {
    font-size: 20px;
    }
    main {
        display: block;
    }
    .sidebar {
        max-width: 100%;
        max-height: unset;
        display: block;
    }
    .cta {
        padding-bottom: 0;
    }
    h1 {
    font-size: 25px;
    font-weight: 800;
    line-height: 35px;
}
h2 {
    font-size: 20px;
    line-height: 30px;
    }
    h3 {
    font-size: 20px;
    line-height: 30px;
    }
    .section4_desc p {
    font-size: 24px;
    line-height: 32px;
}
.section8_content {
    display: block;
}
.section8_img {
    width: 100%;
    margin-right: 0;
}
.section8_img img {
    margin: 0 auto;
    margin-bottom: 20px;
}
.section8_desc {
    width: 100%;
}
.section10_desc p strong {
    font-size: 22px !important;
}
.section10_desc p {
    font-size: 24px;
    line-height: 32px;
    font-weight: 300;
}
.section11_img img {
    width: auto;
    max-width: 100%;
    height: auto;
    margin-right: 0;
}
.section11_middle {
    display: block;
}
.section12 .heading h2 {
    font-weight: 700;
    font-size: 23px;
}
.section13 h4 {
    font-weight: 700;
    font-size: 20px;
}
.sec13_button a {
    font-size: 26px;
    padding: 10px 20px;
}
.scroll-show a {
    padding: 10px 11px;
    font-size: 15px;
    font-style: italic;
}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
.footer-text p span {
    display: block;
}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 320px) and (max-width: 576.98px) { 

    .footer-text p span {
    display: block;
}
    .main-text h1 {
    font-size: 30px;
    line-height: 40px;
    }
    .social-rating .date {

    display: none;
}
    .social-rating .catagory {
    display: none;
}
    h2 {
    font-size: 20px;
    font-weight: 700;
}
}

@media (max-width: 480px) { 
    .testimonial-wrap{
        width: 100%;
        margin: 0 auto;
    }
}